<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/styles/index.css" type="text/css">
    </head>
    <body>
        <nav>
            <a href="/">HOME</a>
            <div>
                <a href="/products">PRODUCTS</a>
                <a href="/categories">CATEGORIES</a>
                <a href="/brands">BRANDS</a>
            </div>
        </nav>
        <h1><%= title %></h1>
        <section>
            <% categories.forEach(category => { %>
                <div>
                    <%= category.name %>
                </div>
            <% }) %>
        </section>
    </body>
</html>